# .gitignore
.idea/
__pycache__/
*.pyc
*.pyo
*.pytest_cache
.env


# Logs and databases
*.log
*.sqlite
*.db

# Test results
test_results.xml
nosetests.xml
xunit.xml

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment and virtualenvs
venv/
env/
pip/
pip-log.txt

# Other
*.bak
*.tmp
*.swp
