# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Logs and databases
*.log
*.sqlite
*.db

# Test results
test_results.xml
nosetests.xml
xunit.xml

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment and virtualenvs
venv/
env/
pip/
pip-log.txt

# Other
*.bak
*.tmp
*.swp
