body {
    background: url('./images/cup.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.custom-file-upload {
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.1);
}

.inputsubmit {
    display: none;
}

.btn-frame {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    padding: 12px 24px;
    border: 5;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
     margin: 30px;
}

.btn-frame:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.nav-list li {
    margin-bottom: 30px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    transition: background 0.3s;
}

.nav-list li a:hover {
    background: rgba(255, 255, 255, 0.1);
}
